.container {
    margin-top: 90px;
}

.filter-button {
    margin: 5px;
}

.img-wrapper {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.border {
    border: 5px solid #007bff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-light-transparent {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1030;
}

.filter-preview {
    max-width: 100px;
    max-height: 100px;
}

.filter-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.filter-preview p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.filters-border {
    border-radius: 0px;
    padding: 0px;
}

.img-wrapper-editor {
    max-width: 90vw;
    max-height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.img-wrapper-editor img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}
