{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Applied Filter: '{{ filter_name | replace('-', ' ') | capitalize }}'</h2>

<div class="mt-5 d-flex flex-column align-items-center gap-4">
    <div>
        <h5 class="text-center">Original Image</h5>
        <div class="img-wrapper-editor">
            <img src="{{ url_for('static', filename='uploads/' + session_id + '/' + img_filename) }}" alt="Original Image">
        </div>
    </div>

    <div class="mt-5">
        <h5 class="text-center">Filtered Image ({{ filter_name | replace('-', ' ') | capitalize }})</h5>
        {% if filtered_img_filename %}
        <div class="img-wrapper-editor">
            <img src="{{ url_for('static', filename='outputs/' + session_id + '/' + filtered_img_filename) }}" alt="Filtered Image">
        </div>
        
        <div class="mt-3 text-center">
            <a href="{{ url_for('save_filtered_image', filtered_img_filename=filtered_img_filename) }}" class="btn btn-primary me-2">Save Image</a>
            <a href="{{ url_for('switch_img_to_current', filtered_img_filename=filtered_img_filename) }}" class="btn btn-secondary">Select as Current Image</a>
        </div>
        {% else %}
        <p class="text-center text-danger">Filtered image not available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
